@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

html {
    font-family: 'Abril Fatface', cursive;
}
body {
    margin: 0;
    padding: 0;
    background-color: beige;
}
main {
    padding: 16px;
    margin-bottom: 10
}
footer {
    padding: 24px 0px 24px 0px;
    background-color:rgb(19, 152, 146);
}
nav{
    border-bottom: 1px solid black;
    padding: 16px;
    background-color:rgb(19, 152, 146);

}

img {
    height: 200px;
}
a {
    transition: background-color 0.5s;
    text-decoration: none;
}
a:hover {
    background-color: rgb(255, 210, 210);
}

tr:nth-child(even) {
    background-color: rgba(126, 12, 12, 0.492);
}

.four-columns{
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;
    grid-template-rows: 300px 300px;
}
h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 5px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
table {
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 5px;
    border-color: grey;
    margin-top: 0px;
}
h1 {
    font-size: medium;
}
